{% extends 'haq/sample.html' %}

{% block title%}Available Books{% endblock %}

{% block body %}
    <span id = "titlespan">
        <h1>Select Religion or Sect to get Books List</h1>
        <br>

        <div class="move_center">
            <form action = '/bookSect' method="POST">
                {% csrf_token %}   <!--this is to avoid fraugry-->

                <input type="number" id="sect_option" name="sect_option" 
                    value="" min="1" max="{{ size }}">
                <input type="submit" value="Click to Submit">
            </form>
        </div>
        <br>

        {% for sect in all_sects %}
            <p>{{ forloop.counter }} - {{ sect }}</p>
            <hr>
        {% endfor %}

        
  <h2>Justified Button Groups</h2>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary btn-lg">Large button</button>

    </span>
{% endblock %}