{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}FARZAND-e-ZAHRA Haq Research{% endblock %}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'haq/styles.css' %}"
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'haq:index' %}" id="brand">Ya FARZAND-e-ZAHRA</a>

            <!-- Links -->
            <ul class="navbar-nav">
                {% if user.first_name == 'Guest' %}
                    <li><a class="nav-link" href="#">salam, {{user.first_name}}</a>
                    <li><a class="nav-link" href="{% url 'haq:logout' %}">Log In</a>

                {% else %}
                    <li><a class="nav-link" href="#">salam, {{user.first_name}}</a>
                    <li><a class="nav-link" href="{% url 'haq:logout' %}">Log Out</a>

                {% endif %}            
            </ul>

            <span id="formSearch">
                <form action = '{% url 'haq:searchRef' %}' method="POST" >
                    {% csrf_token %}   <!--this is to avoid fraugry-->
                    <input type="text" name="searchWord" size="50" value="" placeholder="Word to Search Reference">
                    
                    <input type="submit" value="Search">
                </form>
            </span>
        </nav>


        <!-- Main Body with Options and Body -->
        <div id="main_div">
            <div id="topicDiv" class="underMain">
                <div class="container">
                    <h5>  OPTIONS  </h3> <hr class="lineClass">
                    
                    <ol>
                        <li><a href="{% url 'haq:about' %}" class="option_anchor">About</a></li>
                        <li><a href="{% url 'haq:osample' %}" class="option_anchor">Sample Page</a></li>
                        <li><a href="#" class="option_anchor">Quranic Verses</a></li>

                        <li><a href="{% url 'haq:topicSearch' %}" class="option_anchor">Topics List</a></li>
                        {% if user.first_name != 'Guest' %}
                            <li><a href="#" class="option_anchor">Add New Topic</a></li>
                        {% endif %}

                        <li><a href="{% url 'haq:books' %}" class="option_anchor">Books List</a></li>
                        <li><a href="#" class="option_anchor">Books By Sect List</a></li>
                        <li><a href="#" class="option_anchor">Needy Book List</a></li>
                        {% if user.first_name != 'Guest' %}
                            <li><a href="#" class="option_anchor">Add New Book</a></li>
                            <li><a href="#" class="option_anchor">Add New Needy Book</a></li>
                            <li><a href="#" class="option_anchor">Add New Religion</a></li>
                        {% endif %}

                        <li><a href="{% url 'haq:about' %}" class="option_anchor">References List</a></li>
                        {% if user.first_name != 'Guest' %}
                            <li><a href="#" class="option_anchor">Add New Reference</a></li>
                        {% endif %}
                        
                        <li><a href="#" class="option_anchor">Categories List</a></li>
                        {% if user.first_name != 'Guest' %}
                            <li><a href="#" class="option_anchor">Add New Category</a></li>
                        {% endif %}
                        
                        <li><a href="#" class="option_anchor">Languages List</a></li>
                        {% if user.first_name != 'Guest' %}
                            <li><a href="#" class="option_anchor">Add New Language</a></li>
                        {% endif %}

                        <li><a href="{% url 'haq:personalitySearch' %}" class="option_anchor">Personalities List</a></li>
                        {% if user.first_name != 'Guest' %}
                            <li><a href="#" class="option_anchor">Add New Personality</a></li>
                        {% endif %}

                        <li><a href="#" class="option_anchor">Status List</a></li>
                        {% if user.first_name != 'Guest' %}
                            <li><a href="#" class="option_anchor">Add New Status</a></li>
                        {% endif %}
                    </ol>
                </div>
            </div>
            <!--
            <div id="bodyDiv" class="underMain">
                {% block body %}
                {% endblock %}
            </div>
            -->
        </div>

       <script src="{% static 'haq/script.js' %}"></script>
    </body>
</html>