{% extends 'haq/sample.html' %}

{% block title%}About Us Page{% endblock %}
{% block body %}
    <div class="row"  style="margin-top: 2rem;">
        <div class="col-sm-8">
            <h1>Live Research and Books Center</h1>
            
            <ul> 
                <li>It contains all the references of research work that I been through</li>
                <li>Material that is essential in decision making and how to improve standard of life</li>
                <li>List of Books is provided to refer books available in bank either hard or soft copies</li>
        </div>
        <div class="col-sm-4">
            <img src="../../static/haq/images/knowledgePower.jpg" class="rounded float-right" 
                alt="Knowledge is the Power" style="width:100%; height: auto;border: blue 2px solid;">
    
        </div>
    </div>


    
{% endblock %}