{% extends 'haq/sample.html' %}

{% block title%}Looking for a Book{% endblock %}

{% block body %}
    <span id = "titlespan">
        <div class="move_center" >
            <h1>Book Available</h1>
            <form action = '{% url 'haq:bookSearch' %}' method="POST" class="move_center">
                {% csrf_token %}   <!--this is to avoid fraugry-->
                <input type="text" name="searchWord" size="50" value="" placeholder="Search A Book">
                
                <input type="submit" value="Click to Search">
            </form>
            <br>
            {% for p in auth_persons %}
                {% if user.first_name == p.auth_name %}
                    <button type="button" class="btn btn-primary btn-lg">Add New Book</button>
                {% endif %}
            {% endfor %}
            <br><br>

            {% if length_found >= 0 %}
                <h4>total search found: {{ length_found }}</h4>
            {% endif %}
        </div>

        <hr><br>

        {% if size < 3 %}
            <h5 class="move_center">Number of characters can not be less than 3</h5>
        {% else %}
            <div class="move_center">
                <caption>Name of Book in Database</caption>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Book ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">Sect / Religion</th>
                            <th scope="col">Category</th>
                            <th scope="col">Status</th>
                            <th scope="col">Need of Book</th>
                            <th scope="col">Language</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in found_list  %}
                            <tr>
                                <th scope="row">{{ book.id }}</th>
                                <td>{{ book.name }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.sect }}</td>
                                <td>{{ book.cat }}</td>
                                <td>{{ book.status }}</td>
                                <td>{{ book.need }}</td>
                                <td>{{ book.lang }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </span>
{% endblock %}