{% extends 'haq/sample.html' %}

{% block title%}Islamic Analysis & References{% endblock %}
{% block body %}

<div class="move_center" >
    <h1>Haq References</h1>

    {% for p in auth_persons %}
        {% if user.first_name == p.auth_name %}
            <button type="button" class="btn btn-primary btn-lg">Add New Reference</button>
        {% endif %}
    {% endfor %}
</div>
<br>

{% for ref in reference %}
    <div>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{forloop.revcounter}} - <u>{{ref.subject}}</u></h5>

                    <div>
                        <div class="row">
                            <div class="col-4">
                                <h5>Book : {{ref.book}}</h5>
                            </div>
                            <div class="col-4">
                                <h5>Vol/Para# : {{ref.vol_para}}</h5>
                            </div>
                            <div class="col-4">
                                <h5>Page/Chapter# : {{ref.page_chapter}}</h5>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="row">
                            <div class="col-4">
                                <h5>Hadees/Verse# : {{ref.hadees_verse}}</h5>
                            </div>
                            <div class="col-4">
                                <h5>Speaker : {{ref.speaker}}</h5>
                            </div>
                            <div class="col-4">
                                <h5>For : {{ref.personFor}}</h5>
                            </div>
                        </div>
                    </div>


                    <p class="card-text">
                        <large class="text-muted">
                            <h4><i>Description:-</i></h4>
                            <br>
                            <b>{{ref.description}}</b>
                        </large>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endfor %}

<div class="olClass">
<ol>
{% for ref in reference %}
    <li>
        <p class="labelTopic">{{ forloop.revcounter }} - {{ ref.subject }}</p>
        <span class="spanAlignClass"><span class="labelStyle">Narator:</span><span>{{ ref.speaker }}</span></span><br>
        <span class="spanAlignClass"><span class="labelStyle">In honor of:</span><span>{{ ref.personFor }}</span></span><br>
        <span class="spanAlignClass"><span class="labelStyle">Book:</span><span>{{ ref.book }}</span></span><br>
        <span class="spanAlignClass"><span class="labelStyle">Volume/Para#:</span><span>{{ ref.vol_para}}</span></span><br> 
        <span class="spanAlignClass"><span class="labelStyle">Chapter/Page#:</span><span>{{ ref.page_chapter }}</span></span><br>
        <span class="spanAlignClass"><span class="labelStyle">Hadees/Verse#:</span><span>{{ ref.hadees_verse }}</span></span><br>
        <span class="labelStyle">Description:</span><br>
        <p style="color:blue;">{{ ref.description }}</p>
    </li>
    <hr>
{% endfor %}
</ol>
</div>
{% endblock %}