{% extends 'haq/sample.html' %}

{% block title%}FOUND LIST{% endblock %}

{% block body %}
    <span id = "titlespan">
        <div class="move_center">
            <h1>References Searched Page</h1>
            {% if user.first_name == 'Sammar' %}
                <button type="button" class="btn btn-primary btn-lg">Add New Reference</button>
            {% endif %}
            <br><br>
            {% if length_found >= 0 %}
                <h4>total search found: {{ length_found }}</h4>
            {% endif %}
            <hr>
            <br>
            
            {% if size < 3 %}
                <h5 class="move_center">Number of characters can not be less than 3</h5>
        </div>

        {% else %}
            {% for f in found_list %}
                <div>
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{forloop.revcounter}} - <u>{{f.subject}}</u></h5>
                                <div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>Book : {{f.book}}</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>Vol/Para# : {{f.vol_para}}</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>Page/Chapter# : {{f.page_chapter}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>Hadees/Verse# : {{f.hadees_verse}}</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>Speaker : {{f.speaker}}</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>For : {{f.personFor}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text">
                                    <large class="text-muted">
                                        <h4><i>Description:-</i></h4>
                                        <br>
                                        <b>{{f.description}}</b>
                                    </large>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </span>
{% endblock %}