{% extends 'haq/sample.html' %}

{% block title%}Looking for a Topic{% endblock %}

{% block body %}
    <div id = "titlespan">
        <div  class="move_center">
            <h1 class="move_center">Searching Topics</h1>
            {% for p in auth_persons %}
                {% if user.first_name == p.auth_name %}
                    <button type="button" class="btn btn-primary btn-lg">Add New Topic</button>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        
        <span id="topicSearch" >
            <form action = '{% url 'haq:topicSearch' %}' method="POST" class="move_center">
                {% csrf_token %}   <!--this is to avoid fraugry-->
                <input type="text" name="searchWord" size="50" value="" placeholder="Topic to Search">
                
                <input type="submit" value="Click to Search">
            </form>
            <br>
            {% if length_found >= 0 %}
                <h4>total search found: {{ length_found }}</h4>
            {% else %}
               
                {% for topics in all_topics %}
                    <a href={% url 'haq:getTopic' topics.id %} > <h2>{{topics.id}} - {{topics}}</h2></a>
                    <hr>
                {% endfor %}

               
            {% endif %}
        </span>

        <hr><br>

        {% if size < 3 %}
            <h5 class="move_center">Number of characters can not be less than 3</h5>
        {% else %}
            {% for f in found_list %}
                <a href={% url 'haq:getTopic' f.tp_id %} > <h2>{{forloop.counter}} - {{f.tp_name}}</h2></a>
                <hr>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}