

{% extends 'haq/sample.html' %}

{% block title%}Available Books{% endblock %}

{% block body %}
    <span id = "titlespan">
        <div class="move_center" >
            <h1>Books Available
                {% if status != False %}
                    by Status: {{status}}
                {% endif %}
            </h1>
            {% if isServerLocal == True %}
            <form action = '{% url 'haq:books' %}' method="POST" class="move_center">
                {% csrf_token %}   <!--this is to avoid fraugry-->
                <input type="text" name="searchWord" size="50" value="" placeholder="Search A Book">
                
                <input type="submit" value="Click to Search">
            </form>
            {% endif %}
            <br>
            {% if auth_person == "Authorized Person" %}
                    <button type="button" class="btn btn-primary btn-lg">Add New Book</button>
            {% endif %}     
        </div>

        <br>
        <div class="move_center">
            <caption>Name of Books in Database</caption>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Book ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Sect / Religion</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Need of Book</th>
                        <th scope="col">Language</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books  %}
                        <tr>
                            {% if isServerLocal == True %}
                                <th scope="row">{{ forloop.revcounter }}</th>
                                <td>{{ book.name }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.sect }}</td>
                                <td>{{ book.cat }}</td>
                                <td>{{ book.status }}</td>
                                <td>{{ book.need }}</td>
                                <td>{{ book.lang }}</td>
                            {% else %}
                                <th scope="row">{{ forloop.revcounter }}</th>
                                <td>{{ book.name }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.sect }}</td>
                                <td>{{ book.cat }} </td>
                                <td>{{ book.status }}</td>
                                <td>{{ book.need }}</td>
                                <td>{{ book.lang }}</td>
                            {% endif %}                          
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </span>
{% endblock %}