{% extends 'haq/sample.html' %}
{% block title%}List of book as per categories {% endblock %}

{% block body %}
    <span id = "titlespan">
        <div class="move_center" >
            <h1>List of Book According to Category of it</h1>
            {% if isServerLocal == True %}
            <form action = '{% url 'haq:categories' %}' method="POST" class="move_center">
                {% csrf_token %}   <!--this is to avoid fraugry-->
                <input type="text" name="searchWord" size="50" value="" placeholder="Search A Category">
                
                <input type="submit" value="Click to Search">
            </form>
            {% endif %}
            <br>
            {% if auth_person == "Authorized Person" %}
                <button type="button" class="btn btn-primary btn-lg">Add New Category</button>
            {% endif %}
        </span>
     
        </div>

        <br>
        <div class="move_center">
            <caption>List of categories and total number of books: {{total_books}} </caption>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Total Books</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in dict_categories.items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if isServerLocal == True %}
                                    <a href={% url 'haq:getCategoriesBooks' v.0 %}  class="a_book" >
                                        {{k}}
                                    </a>
                                {% else %}
                                    {{k}}
                                {% endif %}
                            </td>
                            <td>{{ v.1 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </span>
{% endblock %}