{% extends 'haq/sample.html' %}

{% block title%}About Us Page{% endblock %}
{% block body %}
    <div class="move_center">
        <br>
        <h4> "There is enough light for one who wants to see" by Imam Ali ibn Ali Talib </h4>
        <p>Below is the list of recourses available in Research Bank</p>
        <br>
    </div>

    <div class="move_center">
        <caption>Data stored in Database</caption>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Particular</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in all_details %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ detail.0 }}</td>
                        <td>{{ detail.1 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}