{% extends 'haq/sample.html' %}
{% block title%}List of Personalities {% endblock %}

{% block body %}
    <span id = "titlespan">
        <div class="move_center" >
            <h1>List of Personalities</h1>
            {% if isServerLocal == True %}
            <form action = '{% url 'haq:personalities' %}' method="POST" class="move_center">
                {% csrf_token %}   <!--this is to avoid fraugry-->
                <input type="text" name="searchWord" size="50" value="" placeholder="Search A Personality">
                
                <input type="submit" value="Click to Search">
            </form>
            {% endif %}
            <br>
            {% if auth_person == "Authorized Person" %}
                <button type="button" class="btn btn-primary btn-lg">Add New Personality</button>
            {% endif %}
        </span>
     
        </div>

        <br>
        <div class="move_center">
                        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Birth Year</th>
                        <th scope="col">Death Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in total_personalities %}
                        <tr>
                            <th scope="row">{{ forloop.revcounter }}</th>
                            <td>
                                {% if isServerLocal == True %}
                                <a href={% url 'haq:getPersonRef' person.0 %} class="a_book" >
                                    {{person.1}}
                                </a>
                                {% else %}
                                    {{person.1}}
                                {% endif %}
                            </td>
                            <td>{{person.2}}</td>
                            <td>{{ person.3 }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </span>
{% endblock %}