

{% extends 'haq/sample.html' %}

{% block title%}Status of Books {% endblock %}

{% block body %}
    <span id = "titlespan">
        <div class="move_center" >
            <h1>Status of Books as per Need</h1>
            <br>

            {% if auth_person == "Authorized Person" %}
                <button type="button" class="btn btn-primary btn-lg">Add New Status</button>
            {% endif %}
            <br>
            {% if length_found >= 0 %}
                <h4>total search found: {{ length_found }}</h4>
            {% else %}
               
                {% for topics in all_topics %}
                    {% for key, value in topics.items %}
                        <a href={% url 'haq:getTopic' key %} > <h2>{{key}} - {{value}}</h2></a>
                        <hr>
                    {% endfor %}
                {% endfor %}

               
            {% endif %}
        </span>
     
        </div>

        <br>
        <div class="move_center">
            <caption>List of Status for total number of books: {{total_books}} </caption>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total Books with Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in dict_status.items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </span>
{% endblock %}