

{% extends 'haq/sample.html' %}

{% block title%}Status of Books {% endblock %}

{% block body %}
    <span id = "titlespan">
        <div class="move_center" >
            <h1>Status of Books as per Need</h1>
            <form action = '{% url 'haq:bookSearch' %}' method="POST" class="move_center">
                {% csrf_token %}   <!--this is to avoid fraugry-->
                <input type="text" name="searchWord" size="50" value="" placeholder="Search A Status -- NOT WORKING">
                
                <input type="submit" value="Click to Search">
            </form>
            <br>

            {% if auth_person == "Authorized Person" %}
                <button type="button" class="btn btn-primary btn-lg">Add New Status</button>
            {% endif %}
     
        </div>

        <br>
        <div class="move_center">
            <caption>List of Status for total number of books: {{total_books}} </caption>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Total Books with Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in dict_status.items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </span>
{% endblock %}